@media (max-width: 1110px){
    .simple-row{
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 15px;
    }
    .news-row{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
@media (max-width: 1050px){
    .nav-menus{
        display: none;
    }
    .bar i{
        display: block;
        visibility: visible;
    }
    .hero-section{
        padding: 0 15px;
    }
    .tour-row{
        /* display: flex;*/
        flex-wrap: wrap; 
        justify-content: flex-start
    }

}

@media(max-width: 980px){
    .hero-btns{
        display: flex;
        flex-wrap: wrap;
    } 
    .hero-content { 
        padding: 80px 0;   
    }
    .hero-section{
        padding-top: 30px;
    }
}

@media(max-width: 868px){
    .wcu-content{
        padding: 0 180px;
    }
}

@media(max-width: 730px){
    .hero-text p{
        width: 100%;
    }
    .hero-title h1{
        font-size: 45px;
    }
    .wcu-title h2{
        font-size: 30px;
    }
    .wcu-content{
        padding: 0 180px;
    }
    .wcu-content{
        padding: 0 120px;
    }
    .footer-text p{
        padding: 0 130px;
    }
}

@media(max-width: 630px){
    .video{
        /* width: 570px; */
        width: 100%;
    }
    .footer-text p{
        padding: 0 100px;
    }
}

@media(max-width: 580px){
    .tour-text p, 
    .tour-list, 
    .tour-text2 p {
        width: 100%;
        text-align: justify;
    }
    .wcu-content{
        padding: 0 30px;
    }
    .footer-text p{
        padding: 0;
        width: 100%;
    }
    
}

@media (max-width: 480px){
    .logo img{
        width: 200px;
    }
    .hero-title h1{
        font-size: 35px;
    }
    .tour-title h2{
        font-size: 30px;
    }
    .simple-title h2{
        font-size: 30px;
        line-height: 35px;
    }
    .simple-text p{
        text-align: justify;
        padding: 0 30px 0 0;
    }
    .newsleft-content{
        width: 100%;
        padding: 20px 20px;
    }
}
@media (max-width: 375px){ 
     .header-row{
        gap: 20px;
        align-items: center;
        justify-content: center;
     }
     .hero-content{
        padding: 40px;
    }
    .simple-title h2{
        font-size: 25px;
        line-height: 35px;
    }
    .simple-text p{
        text-align: justify;
    }
    .wcu-info p{
        text-align: justify;
    }
    .newsleft-content{
        width: 350px;
        padding: 20px 20px;
    }
    .news-btn{
        padding: 15px 105px;
    }
    .video{
        width: 320px;
        height: 250px;
    }
}