/*
AUTHOR NAME: ANIK ISLAM
TEMPLETE NAME: HERO TRAVEL
VERSION: 1.0.0
*/


/* ROOT VARIABLES  */
:root {
    --white--color: #fff;
    --black-color: #000;
    --global-fonts: "Mulish", sans-serif;
    --nav-menu-color: #424247;
    --nav-menu-hover-color: #FF5400;
    --wcu-box-bg: rgba(251, 181, 99, 0.12);
    --wcu-box-hover-bg: rgba(41, 206, 246, 0.05);
    --green-color: #D8EFD3;
    --doscount-box-location: #5A5A5D ;
    --input-bg: rgba(19, 19, 24, 0.05);
    --footer-bg:  rgba(19, 19, 24, 0.05);
    --foote-icon-color: #131318;

}

/* ESSENTIAL SET UP  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--global-fonts); 

}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1208px;
    margin: 0 auto;
    padding:0 15px ;
}

/*HEADER SECTION START  */
/* .header-section{

} */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.nav-menus {
    display: flex;
    /* gap: 20px; */
}

.nav-menus li {
    list-style: none;
}

.nav-menus li a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 22px;
    color: var(--nav-menu-color);
    font-weight: 600;
    transition: 0.2s;
}

.nav-menus li a:hover {
    color: var(--nav-menu-hover-color);
}

nav {
    display: flex;
    align-items: center;
}

.bar i {
    background-color: var(--nav-menu-hover-color);
    color: var(--white--color);
    padding: 10px 18px;
    font-size: 22px;
    display: none;
    visibility: hidden;
}

/*HEADER SECTION END */


/* SECTION START  */
.hero-section {
    padding: 50px 0;
    overflow: hidden;
}

.hero-section .container {
    background-image: url(../Images/Rectangle\ 7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 16px; 
}

.hero-content {
    text-align: center;
    padding: 120px 0; 
    z-index: 999;
    color: var(--white--color);
}

.hero-title h1 { 
    margin-bottom: 25px;
}
.hero-text p{
    font-size: 16px;
    width: 676px; 
    margin: 0 auto;
}
.hero-btns{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 25px; 
    padding: 8px; 
    margin-top: 50px;
}
 
.hero-btns .btn1 input{
    border: none;
    outline: none;
    padding: 16px 0 16px 16px;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--white--color);
}
.btn1 a{
    background-color: var(--nav-menu-hover-color);
    padding: 15px 35px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    color: var(--white--color);
}
.mix{
    display: flex;
    align-items: center;
}
.mix svg{
    margin-right: 8px;
}
.form{
    position: relative;
}
.down{
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
}

/* SECTION END */

/*TOUR SECTION START  */
.tour-section{
    padding: 50px 0;
}
.tour-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}
.tour-title h2{
    font-weight: 800;
    margin-bottom: 25px;
}
.tour-text p{
    font-size: 16px;
    width: 577px;
    margin-bottom: 25px;
}
.tour-list{
    width: 525px;
    padding: 0 0 0 30px;
}
.tour-list li{
    margin-bottom: 16px;
    font-size: 16px;
}
.tour-text2 p{
    width: 530px;
    font-size: 16px;
    margin-bottom: 16px;
}
.tour-btn a{
    background-color: var(--nav-menu-hover-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--white--color);
    padding: 15px 35px;
    margin-top: 16px;
    display: inline-block;
    border-radius: 8px;
    border: none;
}
.tour-right img{
    align-self: center;
    width: 100%;
}
/*TOUR SECTION END */

/* SECTION START  */
/* .destination-section{
    padding: 50px 0;
}
.dest-top{
    width: 643px;
    text-align: center;
    margin: 0 auto; 
}
.dest-top h2{
    margin-bottom: 25px;
    font-weight: 800;
}
.dest-gallary{
    margin-top: 50px;
    width: 1170px;
}
.gallary1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
}
.gallary2{
   
    display: grid;
    grid-template-columns: repeat(3,375px) 475px 275px;
    margin-right: 25px;
} */
/* SECTION END */

/*WHY CHOOSE US SECTION START  */
.wcu-section{
    padding: 100px 0; 
}
.wcu-content{
    text-align: center;
    padding: 0 252px;
}
.wcu-title h2{
    font-weight: 800;
    margin-bottom: 25px;
}
.wcu-box{
    margin-top: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.wcu-box1{
    background-color: var(--wcu-box-bg);
    width: 570px;
    border-radius: 15px;
    padding: 32px 32px 52px;
    transition: 0.2s
}
.wcu-box1:hover{
    background-color: var(--wcu-box-hover-bg);

}
.wcu-box-title h4{
    margin: 30px 0 15px 0;
    font-weight: 800;
}
/*WHY CHOOSE US SECTION END */

/*DISCOUNT SECTION START  */
.discount-section{
    padding: 90px 0;
    overflow: hidden;
}
.discount-content{
    margin-top: 50px;
}
.discount-img{
    background-image: url(../Images/discount1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 55px 55px 55px 0;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 25px;
}
.discount-right{
    background-color: var(--white--color);
    opacity: 0.9;
    border: 2px solid var(--white-color);
    padding: 50px;
    border-radius: 18px;
}

.date-time{
    display: flex;
}
.time p{
    margin-right: 8px;
    font-size: 16px;
}
.time{
    display: flex;
    align-items: center;
    gap: 5px;
}
.discount-title h4{
    font-weight: 800;
    margin: 25px 0 15px 0;
}
.discount-text p{
    font-size: 16px;
    width: 450px;
}
.discount-price h5{
    font-weight: 800;
    margin-top: 15px;
    color: var(--nav-menu-hover-color);
}
.discount-btn a{
    text-decoration: none;
    font-weight: 800;
    color: var(--white--color);
    background-color: var(--nav-menu-hover-color);
    padding: 15px 25px;
    border-radius: 8px ;
    display: inline-block;
    margin-top: 25px;
}
/*DISCOUNT SECTION END */


/*SIMPLE PERFECT SECTION START  */
/* .simpleperfect-section{

} */
.simple-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.simple-title h2{
    font-size: 800;
    line-height: 45px;
    margin-bottom: 25px;
}
.simple-text p{
    font-size: 16px;
    /* width: 532px; */
    margin-bottom: 25px;
}
.simple-list ul li{
    font-size: 16px;
    margin-bottom: 15px;  
}
.simple-list ul{
    padding-left: 25px; 
}
.simple-btn a{
    background-color: var(--nav-menu-hover-color);
    color: var(--white--color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 40px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
}
.video{
    border-radius:16px;
}
/*SIMPLE PERFECT SECTION END */


/*NEWS LETTER SECTION START  */
.news-letter{
    padding: 100px 0;
}
.news-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.newsleft-content{
    border: 2px solid var(--nav-menu-hover-color);
    padding: 40px;
    border-radius: 16px;
    width: 474px;
}
.news-title h4{
    margin-bottom: 15px;
    font-weight: 800;
}
.news-info p{
    font-size: 16px;
    margin-bottom: 40px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
form input{
    padding: 15px 20px 15px 20px ;
    font-size: 16px; 
    background-color: var(--input-bg);
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.news-btn{
    background-color: var(--nav-menu-hover-color);
    color: var(--white--color);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 148px;
    margin-top: 15px;
    display: block;
}
.news-right img{
    width: 100%;
}
/*NEWS LETTER SECTION END */

/*FOOTER SECTION START  */
.footer-section{
    background-color: var(--footer-bg);
    padding: 100px 0;
}
.footer-content{
    text-align: center;
}
.footer-logo{
    margin-bottom: 15px;
}
.footer-text p{
    padding: 0  200px;
    margin-bottom: 30px;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px; 
}

.footer-icons i{
    font-size: 25px;
    cursor: pointer;
    color: var(--foote-icon-color);
    transition: 0.2s;
    
}
.footer-icons i:hover{ 
    color: var(--nav-menu-hover-color); 
}
.break{
    border-bottom: 1px solid var(--doscount-box-location);
    opacity: 0.2;
}
.footer-copy p{
    margin-top: 30px;
}
/*FOOTER SECTION END */